$icon-colour-1: #299626;
$icon-colour-2: #2A80B9;
$icon-colour-3: #299626;
$icon-colour-4: #2A80B9;

$icon-size: 200px;
$icon-padding: 15px;
$icon-font-size: 18px;
$icon-image-size: $icon-size - (2 * $icon-padding) - ($icon-font-size * 1.333);
//$icon-line-height: $icon-size - $icon-image-size;
table > tbody > tr:nth-of-type(2n) {

  background-color: #66676b;
  border: 0;

}

.chooseactivity .table {
  tbody {
    td.activityIcon {
      padding: 7.5px;
      position: relative;

      a,
      .no-activity {
      }

      a {
        display: block;
        float: left;
        width: $icon-size;
        height: $icon-size;
        margin: 7.5px;
        background: $icon-colour-1;
        border-radius: 15px;
        text-align: center;
        padding: $icon-padding;
        position: relative;

        .activityIconImageContainer {
          height: $icon-image-size;
          position: relative;

          img {
            display: block;
            margin: 0 auto;
            width: 100%;
            max-height: $icon-image-size;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }


        span {
          color: #ffffff;
          position: absolute;
          width: 100%;
          left: 0;
          bottom: $icon-padding; // + ($icon-line-height / 6);
          font-weight: 300;
          font-size: $icon-font-size;
          line-height: $icon-font-size;
        }
      }

      .no-activity {
        @include centre-vertically();
        padding: 7.5px;
      }
    }

    td.activityIcon:last-child a {
      background: $icon-colour-3;
    }


    tr th span {
      @include centre-vertically();
    }

    > tr:nth-of-type(2n) {
      td.activityIcon a {
        background: $icon-colour-2;
      }

      td.activityIcon:last-child a {
        background: $icon-colour-4;
      }
    }
  }
}

.chooseactivity .table {
  thead tr th:not(:first-child),
  td.activityIcon {
    border-left: 2px solid #dee2e6;
  }

}

/*
.main-btn {
  position: relative;
  background: none;
  width: 180px;
  height: 180px;
  padding: 5px;
  border-radius: 15px;
  margin: 0 auto;
  display: block;
  white-space: normal;

  &:hover {
    background: #333;
  }

  .col-md-3 {
    padding: 15px;
  }

  img {
    margin: 0;
    padding: 0;
  }

  h2 {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 10px;
    margin: 0;
    padding: 0px 3px;
    margin-top: -16px;
    font-weight: 300;
    font-size: 24px;
  }
}
 */