/*/// TO BE REMOVED///*/

.well { //to be removed
  display: inline-block;
  background: #222;
  color: #fff;
  border: none;
  box-shadow: none;
  cursor: default;
  padding: 5px 10px;
  min-width: 75px;
  text-align: center;
}

/*/// GENERIC CLASSES ///*/
.w100 {
  width: 100px;
}



.alert {
  margin: 0;
  p:last-child {
    margin-bottom: 0;
  }
}