header{
  background: #2d2e32;
}

.logo {
  width: 90px;
  padding: 10px;
  vertical-align: top;
}

.header_buttons {
  margin-bottom: 15px;
  a {
    margin-left: 15px;
    &:first-child {
      margin-left: 0;
    }
  }
}


.logo_title {
  img {
    height: 70px;
    vertical-align: top;
  }
}

.crm-header {
 // background: #2d2e32;
 // height: 110px;
 // width: 100%;
 // position: absolute;
}

.crm-title {
  font-weight: 700;
  display: inline-block;
  line-height: 70px;
  //margin-top: 10px;
}

nav .container{
  //background: transparent;
}


.username {
  //text-align: left;
  //clear: both;
  //margin-left: 15px;
  //font-size: 18px;
}
