/*///  INPUTS  ///*/

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  color: #f2f2f2;
}

input[type="checkbox"] + label span {
  display: inline-block;
  width: 19px;
  height: 19px;
  margin: -2px 10px 0 0;
  vertical-align: middle;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/check_radio_sheet.png) left top no-repeat;
  cursor: pointer;
}

input[type="checkbox"]:checked + label span {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/check_radio_sheet.png) -19px top no-repeat;
}

fieldset:disabled .form-control,
.form-control[disabled]
{
  background: #222222;
  color: #ffffff;
  border: none;
  box-shadow: none;
}

/*
.viewinput,
.viewinput:hover,
.viewinput:active,
.viewinput:focus,
.viewinput[disabled],
.viewinputp,
.viewinputp:hover,
.viewinputp:active,
.viewinputp:focus,
.viewinputp[disabled] {
  background: #222;
  color: #fff;
  border: none;
  box-shadow: none;
  cursor: default;
}
*/


.well {
  display: inline-block;
  background: #222;
  color: #fff;
  border: none;
  box-shadow: none;
  cursor: default;
  padding: 5px 10px;
  min-width: 75px;
  text-align: center;
}

.add-button {
  float: right;
  margin-top: 20px;
  margin-right: 10px;
}

#edit-button, #add-button {
  //right: 10px;
  //top: 10px;
  //position: absolute;
  background: #246cb3;

  &:hover, &:active, &:focus {
    background: #2b96ff;
  }
}

#cancel-button {
  display: none;
  //right: 10px;
  //top: 10px;
  //position: absolute;
  //background: #d42647;
}

#asbtn {
  float: right;
  font-weight: 700;
}

#cancel-button:hover, #cancel-button:active, #cancel-button:focus {
  background: #f2385a;
}

#update-button {
  /*
    display: none;
    right: 100px;
    top: 10px;
    position: absolute;
    background: #246cb3;
    &:hover, &:active, &:focus {
      background: #2b96ff;
    }
  */
}

.groupby_dd {
  margin-left: 10px;
  text-transform: capitalize;
}

#printbtn {
  float: right;
  cursor: pointer;

}