/*///  INPUTS  ///*/

fieldset:disabled .form-control,
.form-control[disabled] {
  background: #222222;
  color: #ffffff;
  border: none;
  box-shadow: none;
}

.add-button {
  float: right;
  margin-top: 20px;
  margin-right: 10px;
}

#cancel-button {
  display: none;

  &:hover, &:active, &:focus {
    background: #f2385a;
  }
}

.input-group {
  > .custom-select:not(:first-child),
  > .form-control:not(:first-child) {
    border-left-width: 2px;
  }

  > .form-control#inputPassword-2[disabled]:not(:first-child) {
    border-left: 2px solid #17a2b8;
  }

  #change-password-button {
    min-width: 160px;
  }

  > .input-group-text {
    border-radius: 0;
  }

  > .input-group-text + .form-control {
    border-left-width: 1px;
  }

  .input-group-prepend,
  .input-group-append {
    a.btn {
      position: relative;

      span.centre-vertically {
        @include centre-vertically();
      }
    }
  }
}

textarea.form-control.shift-comment {
  height: 125px;
}

textarea.form-control.setting-textarea{
  height: 230px;
}