/*///  LOGIN  ///*/

body.login {
  > .container {
    max-width: 420px;

    .navbar-brand {

      margin-left: 1rem;

      width: 100%;
      text-align: center;
    }
  }
  .container.messages h2 {
    display: none;
  }
}
.logout {
  background: #f2385a;

  &:hover {
    background: #ff879d;
  }
}