/*///  MOBILE  ///*/
@media (max-width: 767px) {
  .main-menu-btn .btn{
    width: 140px;
    height: 140px;

    h2 {
      font-size: 22px;
    }
  }

  .crm-title {
    font-size: 22px;
  }

  .logout {
    margin-top: 65px;
  }

  .crm-head .logo_title {
    white-space: nowrap;
  }

  .username {
    margin-top: -25px;
  }
}