@media print {
  html, body {
    width: 210mm;
    height: 296mm;
  }

  body {
    margin: 0;
    border: initial;
    border-radius: initial;
    width: initial;
    background: initial;
    min-height: initial;
    box-shadow: initial;
  }

  .headerSortDown, .headerSortUp {
    border-bottom: 4px solid #36383f !important;
  }

  .header {
    white-space: normal;
  }

  td {
    padding-top: 0.375rem !important;
    padding-bottom: 0.375rem !important;
  }
  .container {
    margin: 0;
  }

  @page {
    size: A4; /* landscape */
    margin: 0mm;
  }

  header {
    img {
      height: 40px;
    }

    .logo_title {
      > a {
        text-decoration: none !important;

        .crm-title {
          font-weight: 700 !important;
          display: inline-block !important;
          line-height: 70px !important;
          color: #000000 !important;
        }
      }
    }
  }
  .navbar-brand.h2.py-0 {
    color: #000000 !important;
  }

  * { // Added to get iPad print preview displaying
    text-shadow: none !important;
    color: #000000 !important;
    background: transparent !important;
    box-shadow: none !important;
  }
  table.table {
    thead {
      tr {
        font-size: 1.05rem;
      }

      .tablesorter-filter-row {
        display: none;
      }
    }

    tbody {
      tr.bg-primary {
        td {
          font-weight: bold;
        }
      }

      tr.bg-secondary td {
        font-weight: bold;
      }
    }
  }
}