.job-description textarea {
  height: 124px;
}

.furniture-quantity {
  //float: left;
  display: inline-block;
}

.job-furniture-row {
  .form-group {
    input, select {
      display: inline-block;
    }

    .option-dropdown-label-row {
      width: 100%;
    }

    label {
      display: none;
    }

    .remove-furniture {
      margin-top: -4px;
    }
  }

  .form-group:first-child {
    label {
      display: block;
    }

    .remove-furniture {
      display: none;
    }
  }

  .form-group.furniture-group > .row {
    float: left;
    margin-right: 0.5rem;
  }
}


#job-status.form-control {
    color: #ffffff;

  &.jobstat_red {
    background: rgba(255, 0, 0, 0.5);
    border-color: #9F0101;
  }

  &.jobstat_yellow {
    background: rgba(255, 157, 46, 0.9);
    border-color: #DA8526;
  }

  &.jobstat_green {
    background: rgba(105, 186, 49, 0.9);
    border-color: #5F9E34;
  }
}