//@import "custom_variables";
@import "../../vendor/twbs/bootstrap/scss/bootstrap";

$panel-bg: #2c2e30;

@mixin centre-vertically() {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

body {
  background: #111;
  font-family: 'Open Sans', sans-serif;
}

body,
h1, h2, h3, h4,
.btn-default {
  color: #fff;
}
.main-btn {
  position: relative;
  background: none;
  width: 180px;
  height: 180px;
  padding: 5px;
  border-radius: 15px;
  margin: 0 auto;
  display: block;
  white-space: normal;

  &:hover {
    background: #333;
  }

  .col-md-3 {
    padding: 15px;
  }

  img {
    margin: 0;
    padding: 0;
  }

  h2 {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 10px;
    margin: 0;
    padding: 0px 3px;
    margin-top: -16px;
    font-weight: 300;
    font-size: 24px;
  }
}

h3, h4, th {
  text-transform: capitalize;
}

@import 'header';

.pgtitle {
  text-transform: capitalize;
  float: left;
  margin-top: 20px;
}

.crmhead {
  margin-bottom: 20px;

  img {
    height: 60px;
    margin-top: 10px;
    margin-bottom: 10px;
    vertical-align: top;
  }
}

.crmheadbg {
  background: #2d2e32;
  height: 110px;
  width: 100%;
  position: absolute;
}

.usrnm {
  float: left;
  text-align: left;
  clear: both;
  margin-left: 15px;
  font-size: 18px;
}

.crmtitle {
  font-weight: 700;
  display: inline-block;
  line-height: 60px;
  margin-top: 10px;

}

.page-header-breadcrumb {
  margin-bottom: 20px;
  display: block;
}

@import 'tables';

/*///  PANELS  ///*/

.panel {
  padding: 10px;
  background: #2c2e30;
  border-color: #444;
  border: none;
  margin-top: 10px;
  width: 100%;

  h3 {
    margin-top: 5px;
  }
}

/*///  BUTTONS  ///*/
.btn-default {
  border: none;
  /*background-color: #57595f;*/
  background: #246cb3;
  font-size: 16px;

  &hover, &:focus, &focus:hover {
    border: none;
    color: #fff;
    background-color: #2b96ff; /*#5094e4;*/
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
  }

  &:active, &active:hover {
    border: none;
    color: #ddd;
    background-color: #4e77a7; /*#37506e;*/
  }
}

.viewbtn {
  background-color: #4e5057;
}

.viewbtn.btn-default:hover, .viewbtn.btn-default:active, .viewbtn.btn-default:active:hover, .viewbtn.btn-default:focus:hover {
  background: #eee;
  color: #222;
}

.searchbtn {
  display: inline;
  position: relative;

  .btn-default,
  .btn-default:hover,
  .btn-default:active,
  .btn-default:active:hover,
  .btn-default:focus:hover {
    position: relative;
    color: transparent;
    background: none;
    z-index: 500;
    width: 34px;
  }

  img {
    height: 34.85px;
    position: absolute;
    left: 0;
    top: -7px;
    z-index: 0;
    padding: 7px;
    background-color: #57595f;
    border-radius: 4px;
  }

  input:hover + img {
    background-color: #2b96ff;
  }
}


.notifs {
  position: absolute;
  right: 15px;
  font-size: 28px;
  font-weight: 700;
  background: #fff;
  padding-top: 5px;
  border-radius: 15px;
  width: 50px;
  height: 50px;
  text-align: center;
  top: 80px;
  color: #F00;
}

/*
.actsbtns .main-btn {
  max-height: 150px;
  margin-bottom: 20px;

  img {
    height: 100%;
  }
}
*/

/*///  SEARCH FORM  ///*/
.form-inline .sci {
  display: none;
}

.sform {
  float: right;
}

/*///  GROUP BY FORM  ///*/
.gbform {
  max-width: 300px;
  float: right;
  margin-left: 15px;
}

/*///  DATE PICKER  ///*/
.datepicker-container {
  color: #222222;
}

@import 'login';

/*///  WORKER PAGES  ///*/

#werror {
  color: #f00;
  font-size: 16px;
}

.btn.winput {
  max-width: 200px;
}

/*///  SHIFT ADDER  ///*/

#shiftadd_bg {
  display: none;
  position: absolute;
  z-index: 777;
  width: 100%;
  background: #111;
}

#shiftadder {
  display: none;
  position: absolute;
  z-index: 888;
  width: 100%;
  background: #111;

  .panel {
    /*max-width: 800px;*/
    position: relative;
    margin: 0 auto;
    padding-bottom: 50px;
  }
}

#shft_add_form {
  height: 100%;
  width: 100%;

  table {
    width: 100%;
  }
}

.shft_finish {
  position: absolute;
  right: 100px;
  top: 10px;
  background: #46b324;
}

.shft_finish.btn-default:hover, .shft_finish.btn-default:active, .shft_finish.btn-default:focus {
  background: #38f24e;
}

.shft_cancel {
  background: #d42647;
  right: 10px;
  top: 10px;
  position: absolute;

  &:hover, &active, &focus {
    background: #f2385a;
  }
}

.show_acts {
  margin-top: 10px;
  right: 220px;
  top: 0;
  position: absolute;
}

.activity .name {
  font-weight: 700;
}

/*///  ACTIVITY ADDER  ///*/

#actadder {
  display: none;
  position: absolute;
  z-index: 900;
  width: 100%;
  background: #444;
  padding: 100px 15px;
}

.act_btn {
  padding: 10px;
}

.act_chosen {
  border: 5px solid #afa;
}

/*activity option*/
.act_op {
  display: none;
}

.act_comment {
  width: 100%;
  resize: none;
  color: #000;
  padding: 5px;
}

.add_act {
  display: none;
  width: 150px;
}

.removefur {
  float: right;
}

.removefur.viewinput {
  opacity: 0;
}

.fur-qty {
  float: left;
}

#addfurbtn.viewinput {
  opacity: 0;
}

@import 'inputs';
@import 'generic_classes';
@import 'mobile';
@import 'print';
@import 'activities';

.messages {
  margin-bottom: 15px;
}

.btn {
  white-space: nowrap;
}


